@import url('./css/fonts.css');

/* Desktop */
body {
  /* background: var(--red-300); */
}
h1 {
  font-family: var(--sugo);
  font-size: var(--heading-size);
  font-weight: bold;
  color: var(--red-300);
  text-transform: uppercase;
}
.nav {
  display: flex;
  flex-direction: row;
  max-width: 1585px;
  height: 58px;
  margin-left: 335px;
  margin-top: 100px;
}
.logo {
  background: url('../assets/svg/Logo 2023 branca.svg');
  height: 40px;
  width: 170px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
/* .menu-container {
  position: absolute;
  left: 17.45%;
  right: 29.79%;
  top: 9.26%;
  bottom: 85.37%;
} */
.pesquisa-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 10px;

  width: 238px;
  height: 58px;
  /* position: absolute;
  left: 1348px;
  top: 100px; */

  background: #ffffff;
  color: var(--red-300);
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
}
.pesquisa {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: var(--search-bg);
  box-shadow: inset 0px 0px 8px rgba(17, 19, 28, 0.1);
}
.cardapio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 25px;
  gap: 10px;
  width: 143px;
  height: 58px;
  margin-right: 191px;
  background: var(--red-300);
  color: var(--orange-100);
  font-family: var(--sugo);
  border-radius: 8px 0px 0px 8px;
}
.cardapio h2 {
  font-size: var(--cardapio-titulo-size);
}
.cardapio p,
.cardapio h3 {
  display: none;
}
.blur {
  backdrop-filter: blur(10px);
}
.hard-shadow {
  text-shadow: 1px 2px 0px var(--red-500);
}
.inner-shadow {
  box-shadow: inset 0px 0px 8px var(--red-500);
}
.cardapio:hover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 25px;
  gap: 10px;

  width: 276px;
  height: 410px;
  border-radius: 8px 0px 0px 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.cardapio:hover h2 {
  display: flex;
  align-items: center;
  text-align: center;
  text-shadow: 1px 2px 0px var(--red-500);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cardapio:hover .burguers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 55px;

  width: 226px;
  height: 84px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.cardapio:hover h3,
.cardapio:hover p {
  display: flex;
}
