@import url('./css/fonts.css');

/* Desktop */
body {
  /* background: var(--red-300); */
  width: 100vw;
  overflow: hidden;
}
h1 {
  font-family: var(--sugo);
  font-size: var(--heading-size);
  font-weight: bold;
  /* color: var(--red-300); */
  text-transform: uppercase;
}
.nav {
  display: block;
  position: absolute;
  flex-direction: row;
  width: 1251px;
  /* width: 1085px; */
  height: 58px;
  top: 100px;
  left: 335px;
  right: 0;
  /* padding: 16px 25px; */
  border-radius: 8px 0px 0px 8px;
  align-items: flex-start;
  justify-content: center;
  background-image: url('../assets/img/nav-bg.png');
  background-repeat: no-repeat;
  background-size: 90% auto;
}
.logo {
  position: absolute;
  left: 35px;
  top: 9px;
  background: url('../assets/svg/Logo 2023 branca.svg');
  margin: auto;
  height: 40px;
  width: 170px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 793px !important;
  height: 58px;
  left: 220px;
  justify-content: center; //ajusta verticalmente no centro
  align-items: space-between !important;
  /* gap: 17px; */
  /* border-radius: 8px 0px 0px 8px; */
}
.links-menu {
  display: flex;
  flex-direction: row;
}
.links-menu a {
  display: block !important;
  flex: 1;
  text-decoration: none;
  font-family: var(--sugo);
  font-size: 28px;
  text-align: center;
  color: #ffffff;
}
.links-menu a:hover {
  text-shadow: 1px 2px 0px var(--red-500);
  text-decoration: underline;
}
.pesquisa-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 10px;
  right: 0px;
  width: 238px;
  height: 58px;
  /* position: absolute;
  left: 1348px;
  top: 100px; */

  background: #ffffff;
  color: var(--red-300);
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
}
.pesquisa {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: var(--search-bg);
  box-shadow: inset 0px 0px 8px rgba(17, 19, 28, 0.1);
  font-family: var(--haleway);
  font-weight: bold;
  text-align: center;
  color: var(--blue-700);
}
.pesquisa::placeholder {
  font-family: var(--haleway);
  font-weight: bold;
  color: var(--red-300);
}
.cardapio {
  position: absolute;
  top: 100px;
  right: 0;
  /* gap: 10px; */
  width: 93px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--red-300);
  color: var(--orange-100);
  font-family: var(--sugo);
  border-radius: 8px 0px 0px 8px;
  padding: 16px 25px;
  transition: all 0.6s ease-in-out;
}

.cardapio h2 {
  display: flex;
  font-size: var(--cardapio-titulo-size);
  margin: 0;
  transition: all 0.6s ease-in-out;
}

.produtos h3,
.produtos p {
  display: flex;
  margin: 0;
  transition: opacity 0.6s ease-in-out;
}

.produtos {
  position: absolute;
  right: 0;
  top: 150px;
  width: 93px;
  height: 0px;
  background: var(--red-300);
  color: var(--orange-100);
  font-family: var(--sugo);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  margin: auto;
  border-radius: 0px 0px 0px 8px;
  transition: 0.6s ease-in-out;
  opacity: 0;
  text-shadow: 1px 2px 0px var(--red-500);
  padding: 16px 25px;
}
.produtos.show {
  opacity: 1;
  width: 226px;
  height: 300px;
  padding: 16px 25px;
}
.produtos .simples,
.produtos .duplos,
.produtos .nobres {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.produtos.show .simples {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.produtos.show .duplos {
  animation: fadeIn 0.3s ease-in-out 0.2s forwards;
}

.produtos.show .nobres {
  animation: fadeIn 0.3s ease-in-out 0.4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burguers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 55px;

  width: 226px;
  height: 84px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.blur {
  backdrop-filter: blur(10px);
}
.hard-shadow {
  text-shadow: 1px 2px 0px var(--red-500);
}
.inner-shadow {
  box-shadow: inset 0px 0px 8px var(--red-500);
}
.cardapio:hover {
  position: absolute;
  right: 0;
  align-items: flex-start;
  padding: 16px 25px;
  width: 226px;
  height: 26px;
  border-radius: 8px 0px 0px 0px;
}

.cardapio:hover h2 {
  text-shadow: 1px 2px 0px var(--red-500);
}

.home {
  position: absolute;
  min-height: 360px;
  left: 345px;
  top: 278px;
  display: inline-flex;
  padding: 24px 48px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  border-radius: 22px;
  background: rgba(200, 0, 10, 0.7);

  /* blur */
  backdrop-filter: blur(10px);
  color: #fff;
}
.home h1 {
  margin: 0;
  display: flex;
  width: 547px;
  height: 67px;
  flex-direction: column;
  justify-content: center;
}
.barra {
  width: 547px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  /* margin: 6px 0; */
}
.homeTxt {
  display: flex;
  width: 547px;
  height: 233px;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: justify;
  text-overflow: ellipsis;
  whitespace: nowrap;
  margin: 0;
  /* texto-corrido */
  font-family: var(--haleway);
  font-size: var(--texto-desktop-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.promos {
  position: absolute;
  height: 360px !important;
  width: 547px;
  left: 345px;
  top: 278px;
  display: inline-flex;
  padding: 24px 48px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 22px;
  background: rgba(200, 0, 10, 0.7);

  /* blur */
  backdrop-filter: blur(10px);
  color: #fff;
}
.promos h1 {
  margin: 0;
  padding-top: 7px;
  display: flex;
  width: 547px;
  height: 67px;
  text-align: center;
  letter-spacing: 1.4px;
  flex-direction: column;
  justify-content: center;
}
.promos .barra {
  margin-top: -7px;
}
.promosTxt {
  display: flex;
  width: 547px;
  height: 233px;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: justify;
  text-overflow: ellipsis;
  whitespace: nowrap;
  margin: 0;
  transform: translateY(-7px);
  /* texto-corrido */
  font-family: var(--haleway);
  font-size: var(--texto-desktop-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.promosLista {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.promosLista .comboLista {
  display: flex;
  flex-direction: column;
  height: 233px !important;
  width: 453px;
  transform: translateX(-21px);
  justify-content: space-between;
}
.promosLista .valores {
  transform: translateY(-3px);
  height: 233px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-family: var(--sugo);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none !important;
}
.localizacoes {
  position: absolute;
  height: 492px !important;
  width: 547px;
  left: 345px;
  top: 278px;
  display: inline-flex;
  padding: 24px 48px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 22px;
  background: rgba(200, 0, 10, 0.7);

  /* blur */
  backdrop-filter: blur(10px);
  color: #fff;
}
.localizacoes h1 {
  margin: 0;
  display: flex;
  width: 547px;
  height: 67px;
  text-align: center;
  letter-spacing: 4.4px;
  flex-direction: column;
  justify-content: center;
}
.localizacoes iframe {
  border-radius: 8px;
  border: inset 2px solid #dadce0;
}
.contatos {
  position: absolute;
  min-height: 359px;
  width: 547px;
  left: 345px;
  top: 278px;
  display: inline-flex;
  padding: 24px 48px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 22px;
  background: rgba(200, 0, 10, 0.7);

  /* blur */
  backdrop-filter: blur(10px);
  color: #fff;
}
.contatos h1 {
  margin: 0;
  display: flex;
  width: 547px;
  height: 67px;
  font-size: 80px;
  letter-spacing: 0.5px;
  flex-direction: column;
  justify-content: center;
}
.contatosTxt {
  display: flex;
  width: 547px;
  height: 276px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: #fff;
  text-align: justify;
  text-overflow: ellipsis;
  whitespace: nowrap;
  margin: 0;
  /* texto-corrido */
  font-family: var(--haleway);
  font-size: var(--texto-desktop-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contatosTxt p,
.contatosTxt li {
  margin: 0;
}
.contatosTxt ul {
  justify-content: space-between;
  padding: 0 0 0 20px;
  margin: 0;
}
.sobre {
  position: absolute;
  min-height: 658px;
  width: 547px;
  left: 345px;
  top: 278px;
  display: inline-flex;
  padding: 24px 48px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 22px;
  background: rgba(200, 0, 10, 0.7);

  /* blur */
  backdrop-filter: blur(10px);
  color: #fff;
}
.sobre h1 {
  margin: 0;
  display: flex;
  width: 547px;
  height: 67px;
  letter-spacing: 1.5px;
  flex-direction: column;
  justify-content: center;
}
.sobreTxt {
  display: flex;
  width: 547px;
  height: 574px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: #fff;
  text-align: justify;
  text-overflow: ellipsis;
  whitespace: nowrap;
  margin: 0 !important;
  /* texto-corrido */
  font-family: var(--haleway);
  font-size: var(--texto-desktop-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sobre p {
  margin: 0;
}
.fundo {
  background-image: url('../assets/img/DALL·E 2023-03-12 15.13.52 - background dark.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -99;
}
.fundo2 {
  background-image: url('../assets/img/Background of a burguer shop website.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -99;
}
